@import v1.post.PostResource
@import _root_.views.html.authtoken.authenticityToken
@(posts: java.util.List[PostResource], showPosts: Boolean)
<!doctype html>

@main("Welcome to Play") {
@if(showPosts){
        <ul>
            @for(p <- posts) {
              <li>@p.getTitle: @p.getBody
              <form method="POST" action="@routes.PostController.removePost()">
                  @authenticityToken()
                  <input type="hidden" name="id" value="@p.getId"/>
                  <input type="submit" value="Remove">
              </form>
              </li>
            }
        </ul>
        <br>
        <form method="POST" action="@routes.PostController.addPost()">
            @authenticityToken()
            <label for="title">T:
            <input type="text" name="title"/>
            </label>
            <label for="body">B:
            <input type="text" name="body"/>
            </label>
            <input type="submit" value="Add Post"/>
        </form>
} else{
    <h1>front page intentionally left empty, use /posts to operate with posts or web-service client</h1>
}

}
